body {
  background-color: rgb(250, 210, 173);
}

.inventoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  height: 100vh;
  width: 100vw;

}

.inventoryContainerSidebar {
  display: flex;
  flex-direction: column;
  
  margin-left: 125px;
  margin-top: 300px;
}
/* 
.card-deck {

} */

#recipeContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-grow: 3;
}

#formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bucket {
  background: rgb(224, 255, 183);
  max-width: 400px;
  width: 100%;
  /* height: 600px; */
  min-height: 600px;
  max-height: 900px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  
 
}

.ingredientDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  /* overflow: hidden; */
}


#addInput {
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.deleteButtons {
  height: 100%;
  background: #fff;
  height: 45px;
  width: 45px;
  text-align: center;
  color: black;
  border: none;
  border-radius: 0 3px 3px 0;
  transition: all 0.2s ease;
  cursor: pointer;
  
}

#submitBtn {
  margin-top: 7px;
  background:rgb(224, 255, 183);
  width:300px;
  height: 60px;
  padding-top:5px;
  padding-bottom:5px;
  color:rgb(44, 44, 44);
  border-radius:4px;
  border: rgb(224, 255, 183);
  /* font-weight:800;
  font-size:0.8em; */
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1)
}

#submitBtn:hover {background-color: rgb(189, 253, 104)}

#submitBtn:active {
  background-color: rgb(203, 250, 141);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* checkbox experimentation */

